@model IOrderedEnumerable<string>
@{
    ViewBag.Title = "Home Page";
}

<div class="movieSlide">
    @{ 
        foreach(var file in Model)
        {
            string src = "/Content/Images/TitleSlide/" + file;
            <img class="movieCover" src=@src />
        }
    }
</div>

<div id="curve">
    <h1>The <br/> Movie <br /> Database</h1>
    <p>A Database of Movies</p>
    <p>that anyone can edit</p>
    <p>and view by title,</p>
    <p>rating, year, or actor.</p>
</div>
