@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
<!--    <a href ="/Movie" style= "display: inline-block; padding: 10px"><h1>Movies</h1></a>
    <a href= "/Music" style="display: inline-block; padding: 10px"><h1>Music</h1></a>
    <br />
-->
</div>
